#main{
    width: 800px;
    margin: auto;
}

#aboutAuthor, #highScore{
    width: 800px;
    margin: auto;
}
.about-layout{
    position: absolute;
    top: 100px;
    left: 197px;
    width: 385px;
    padding: 45px;
    /* color: white; */
    background: white;
    font-size: 16px;
    line-height: 24px;
}